{% extends 'prestamos/base.html' %}

{% block contenido %}
<div class="table-responsive">
    <table id="general-table" class="table table-striped table-bordered table-vcenter">
        <thead>
            <tr>
                <th>Numero de Orden</th>
                <th>Usuario</th>
                <th>Fecha de Solicitud</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
          {% for prestamo in prestamos %}
            <tr>
                <td><a href="{% url "detail" prestamo.id %}"><strong>{{ prestamo.id }}</strong></a></td>
                <td>{{ prestamo.cliente }}</td>
                <td>{{ prestamo.fecha }}</td>
                <td>{{ prestamo.observacion }}</td>
                <td><a href="#">Actualizar</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}
