{% extends 'usuarios/base.html' %}

{% block contenido %}
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Bienvenido a la <small>Bilbioteca</small></h1>
          </div>
          <div class="panel-body">
            <form role="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="login-form">
              <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="Usuario" id="login-name" name="username">
                <label class="login-field-icon fui-user" for="login-name"></label>
                {{ form.username.errors }}
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-field" value="" placeholder="Contraseña" id="login-pass" name="password">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
                {{ form.password.errors }}
              </div>
              <input type="submit" value="Ingresar" class="btn btn-info btn-block">
              <a class="login-link" href="{% url 'registrar' %}">Suscríbete</a>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock%}
