{% extends 'usuarios/base.html' %}
{% block contenido %}
<div class="container">
  <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="row">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h1 class="panel-title">Por favor Regístrate <small>Es gratis!</small></h1>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method="post">
                {% csrf_token %}
                {{form.non_field_errors}}
                  <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control input-sm" placeholder="Usuario">
                    {{form.username.errors}}
                   </div>
                <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombres">
                      {{form.first_name.errors}}
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellidos">
                      {{form.last_name.errors}}
			    					</div>
			    				</div>
			    			</div>
			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
                  {{form.email.errors}}
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password1" id="id_password1" class="form-control input-sm" placeholder="Contraseña">
                      {{ form.password1.errors }}
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password2" id="id_password2" class="form-control input-sm" placeholder="Confirmar Contraseña">
                      {{form.password2.errors}}
			    					</div>
			    				</div>
			    			</div>
			    			<input type="submit" value="Registrarme" class="btn btn-info btn-block">
			    		</form>
			    	</div>
	    		</div>
    		</div>
        </div>
    	</div>
    </div>
{% endblock%}
